<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">

    <head>
        <meta charset="utf-8" />
        <title>User list</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
            integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
    </head>

    <body id="body">
        <ul class="main-list">
            <h2>ユーザリスト</h2>
            <table class="table">
                <thead class="thead-light">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Id</th>
                        <th scope="col">Password</th>
                    </tr>
                </thead>
                <tbody>
                    <% boardList.forEach(function(boardItem, index) { %>
                    <tr>
                        <th scope="row"><%= index + 1 %></th>
                        <td><%= boardItem.id %></td>
                        <td><%= boardItem.password %></td>
                    </tr>
                    <% }); %>
                </tbody>
            </table>
        </ul>
    </body>

</html>
